@import "tailwindcss";
/* Biarkan ini di paling atas */

/* @source directives Anda biarkan saja di sini */
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {

    --color-primary: #fe2157;
    --color-dark: #11192c;
    --color-secondary: oklch(0.279 0.041 260.031);

}

/* === PERUBAHAN UTAMA DI SINI === */
@layer base {
    body {
        font-family: "Figtree", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        /* Pastikan Figtree dimuat dengan weight ini */
        font-style: normal;
    }

    .codex-editor {
        width: 100% !important;
        box-sizing: border-box !important;
    }

    .codex-editor__redactor {
        padding-bottom: 100px !important;
        overflow-wrap: break-word;
    }

    .ce-block:not(.image-tool) .ce-block__content {
      max-width: none !important;
  }

    .ce-toolbar__content {
        margin-left: 0 !important;
        margin-right: auto !important;
    }
}


@layer components {
     .image-tool__image {
        @apply max-w-3xl  mx-auto rounded-lg shadow-md;
    } 

    .image-tool__image-picture {
        @apply w-full h-auto;
    }

    .image-tool__caption {
        @apply text-center;
    } 
    .ce-block--stretched .image-tool__image {
      @apply max-w-none;
    }

}
.ce-block__content .image-tool__caption {
  visibility: visible !important;
  position: relative !important; 
  bottom: auto !important;
  left: auto !important;
  right: auto !important;
  margin: 5px 0 0 0 !important;
}

.ce-toolbox__button .ce-toolbox-button__icon {
  width: 20px;
  height: 20px;

  
  display: flex;
  align-items: center;
  justify-content: center;
}


.ce-toolbox__button .ce-toolbox-button__icon svg {
  max-width: 100%;
  max-height: 100%;
}


.course-created-scrollable {
    scrollbar-width: thin;
    scrollbar-color: #6c6c6c #e0e0e0;
    
}

.course-created-scrollable::-webkit-scrollbar {
    width: 6px;
}

.course-created-scrollable::-webkit-scrollbar-track {
    background: #e0e0e0;
}

.course-created-scrollable::-webkit-scrollbar-thumb {
    background-color: #6c6c6c;
    border-radius: 6px;
}

.course-created-scrollable::-webkit-scrollbar-thumb:hover {
    background-color: #4a4a4a;
}
