@import "tailwindcss"; /* Biarkan ini di paling atas */

/* @source directives Anda biarkan saja di sini */
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    
    --color-primary: #fe2157;
    --color-dark: #11192c;
    --color-secondary: oklch(0.279 0.041 260.031);
    
}

/* === PERUBAHAN UTAMA DI SINI === */
@layer base {
    body {
        font-family: "Figtree", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400; /* Pastikan Figtree dimuat dengan weight ini */
        font-style: normal;
    }
}

/* Kustomisasi Scrollbar Anda di sini */
.course-created-scrollable {
  scrollbar-width: thin; /* Untuk Firefox */
  scrollbar-color: #6c6c6c #e0e0e0; /* thumb track - Untuk Firefox */
}

.course-created-scrollable::-webkit-scrollbar {
  width: 6px;
}

.course-created-scrollable::-webkit-scrollbar-track {
  background: #e0e0e0;
}

.course-created-scrollable::-webkit-scrollbar-thumb {
  background-color: #6c6c6c;
  border-radius: 6px;
}

.course-created-scrollable::-webkit-scrollbar-thumb:hover {
  background-color: #4a4a4a;
}